body {
    text-align: center;
    font-family: 'Cinzel', serif;
    background: linear-gradient(#21304e, #64ccc9);
    color: #ffffff;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#youngk-img {
    width: 250px;
    border-radius: 50%;
    border: 6px solid #64ccc9;
    margin-bottom: 10px;
}

#banda {
    background: #64ccc9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
    text-shadow: 1px 1px 0 black;
}

#fechas {
    margin: 0;
    background: #64ccc9;
    padding: 5px 10px;
    border-radius: 5px;
    text-shadow: 1px 1px 0 black;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sorpresa {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#zoom-youngk {
    height: 200px;
    background-image: url(images/party-youngk.jpg);
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/eternal.jpg");
    background-size: cover;
}

#happy-youngk:hover {
    background-image: url("images/even-of-day-youngk-day6.gif");
}

#youngk-bass:hover {
    background-image: url("images/youngk-bass.gif");
}

#day6-wd:hover {
    background-image: url("images/wonpil-dowoon.gif");
}

#sungbri:hover {
    background-image: url("images/sungbri.gif");
}

#zoom-youngk:hover {
    background-image: url("images/zoom-youngk.gif");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
    text-shadow: 1px 1px 0 black;
}

/* 
Add the footer paragraph according to the design. 
Configure the anchor tag to open the link in a new tab.
Forgotten how to do it? Google it! 

Link: 
https://scrimba.com/learn/htmlandcss

Text:
Want to create your own Birthday GIFt site? Take this HTML & CSS course.
*/